{
    "tabWidth": 4,
    "endOfLine": "lf",
    "insertPragma": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": ["*.yml", "*.yaml", "*.css"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
